footer {
    .top-footer {
        background: #f1f3f2;
        padding: 50px 0 20px;
        color: #fff;

        p {
            font-size: 14px!important;
            line-height: 20px!important;
        }

        h5 {
            font-size: 15px;
            font-weight: 700;
            color: #15517a;
            margin-bottom: 20px;
        }

        .pb20 {
            margin-bottom: 20px;
        }

        @media only screen and (min-width: 768px) {
            .column:last-child {
                padding-left: 10%;
            }
        }
    }

    .pt20 {
        padding-top: 20px;
    }

    .site-info {
        text-align: center;
        padding: 30px 0 60px;
        background: #f1f3f2;

        
        p {
            font-size: 12px;
            line-height: 1.5;
            color: #6b6c6e;
        }
       
    }

    .social_icons {
        margin: 20px 0;
        display: flex;
        align-items: center;

        li {
            &:first-child {
                margin-left: 0;
            }
        }

        .fa-w-10 {
            width: 14px;
        }

        .fa-w-18  {
            width: 22px;
        }

        .fa-w-14  {
            width: 18px;
        }

        .fa-w-16  {
            width: 20px;
        }

        li {
            margin: 0 10px;
            width: 30px;
        }

        svg {
            width: 20px;
        
            path {
                fill: #606163;
            }
        }
    }
}