// stylelint-disable value-keyword-case
$font__main: "Raleway";
// stylelint-enable value-keyword-case
$font__code: Raleway, sans-serif;
$font__pre: Raleway, sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
